nav {
    background: #2D2E2E;
    overflow: auto;
    text-align:center;

    ul {
        list-style-type: none;
        padding: 0;
        margin: auto;
        

        li {
            display:inline;
            a {
                color: #fff;
                padding: 15px;
                display:inline-block;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration:none;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
    
}